*{
    text-align: center;
}

/*Aqui são os detalhes do menu*/
header{
    display: flex;
    position: fixed;
    top:0;
    background-color: white;
    width: 100%;
}
nav{
    display:flex;
    height: 50px;
    width: 50%;
    margin: -20px 0 10px 680px;
}
nav > ul{
    display: flex;
    justify-content: space-evenly;
}
nav > ul > li {
    margin: 0;
    padding: 2rem;
    display: block;
    width: 150px;
}

header #titulo{
    display: flex;
}

/*Aqui é a parte do email*/
#form{
    display: block;
}
#submit{
    display: block;
    margin: auto;
}

figure{
    max-width: 80px;
}
.icons{
    display: flex;
    font-size: 60px;
}

.argumentos {
    display: flex;
    max-width: 700px;
    margin: auto;
    margin: 0px auto 30px;
}

#video{
    margin: 0px auto 30px;
}

.textos{
    flex-direction: column;
}

#alinhamento-geral{
    margin: 100px auto auto;
    background-color: transparent;
    max-width: 980px;
    border: none;
}

.subtitle-background{
    background-color: gray;
    margin-top: -20px;
}
.planos{
    padding: 0 0 5px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 10px;
    justify-content: center;
}
.plano-caixa{
    padding: 0%;
    width: 100%;
    margin: 0px auto 30px;

}

#caixa1{
    grid-column: 1 / 2;
    justify-self: center;
    border-radius: 5px;
}
#caixa2{
    grid-column: 2 / 3;
    justify-self: center;
    border-radius: 5px;
}
#caixa3{
    grid-column: 3 / 4;
    justify-self: center;
    border-radius: 5px;
}

/* FOOTER */
footer{
    background-color: yellow;
    height: 80px;
    display: block;
    margin-bottom: -50px;
    justify-content: end;
    padding: 10px;
    max-width: 900px;
}
footer > ul{
    display: flex;
    justify-content: flex-end;
}
footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}
footer > ul > li {
    display: block;
    margin-left: 2rem;
}

@media (max-width: 900px){
    .planos{
        grid-template-columns: 300px 300px;
    }
}